:root {
    --main-color: #3e5962;
    --white: #fff;
    --text-color: #6C6D70;
    --badget-bg: #fff;
    --green: #98a882;
    --pink: #fb6e7c;
    --brown: #c4b095;
    --yellow: #f4ed95;
    --gray: #A8A9AD;
    --black: #3e5962;
    --border-color: #221F20;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.cart-body {
    width: 100%;
    position: relative;
    top: 12rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-info-content-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 0;
}

.cart-item-quantity-price .del-icon {
    margin-left: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

.cart-info-content-price-money {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--black);
}

.cart-info-txt {
    color: var(--text-color);
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 0;
}

.cart-btn-link {
    text-decoration: none !important;
}
.cart-img {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.cart-products  {
    overflow: scroll;
}
.cart-products {
    width: 100%;
    max-height: 500px;
    overflow: scroll;
    /* -ms-overflow-style: none; */
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 100;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.up-icon {
    height: 32px;
    width: 32px;
    fill: grey;
}
.up-icon:hover {
    fill: var(--black);
}
.form-control-quantity {
    font-size: 1.4rem;
}