:root {
    --main-color: #373737;
    --white: #fff;
    --text-color: #6C6D70;
    --badget-bg: #fff;
    --green: #98a882;
    --pink: #fb6e7c;
    --brown: #c4b095;
    --yellow: #f4ed95;
    --gray: #A8A9AD;
    --black: #212529;
    --border-color: #221F20;
}

html, body {
    font-family: "Roboto", "Sanserif";
}

.title {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.chart {
    width: 60% !important;
}